<H2> Uw booking is ontvangen</H2>
<h4> Wij nemen zo spoedig mogelijk contact met u op <h4>

<p><h3> Bookings Overzicht</h3></p>
<p>First Name: <%= @booking.first_name %></p>
<p>Last Name: <%= @booking.last_name %></p>
<p>Email: <%= @booking.email %></p>

<p>Start date: <%= @booking.starts_at.to_date %></p>
<p>End date: <%= @booking.ends_at.to_date  %></p>
