<h1>Boekingsoverzichten</h1>
<%= render 'pages/banner' %>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <h2>Overzicht villa bezetting</h2>

          <% @bookings.each do|b|%>

              <table class="table"l
                <thead>
                <tr>
                  <th></th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Booking starts at</th>
                  <th>Booking ends at</th>
                  <th>Total stay</th>
                  <th>Total price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row"></th>
                  <td><%= b.first_name%></td>
                  <td><%= b.last_name%></td>
                  <td><%= b.email%></td>
                  <td><%= b.starts_at%></td>
                  <td><%= b.ends_at%></td>
                  <td><%= ((b.ends_at).to_date - (b.starts_at).to_date).to_i %> </td>
                  <td><%= %></td>
                </tr>
                </tbody>
              </table>

          <% end %>
    </div>