<%= render 'banner' %>

<div class="row">
  <div class="col-md-3">leeg</div>
  <div class="col-md-6">tekst gecentreerd; 1 nazomer korting</div>
  <div class="col-md-3">leeg</div>
</div>

<div class="row">
  <div class="col-md-3">leeg</div>
  <div class="col-md-6">tekst gecentreerd; 2 siezoen tarieven </div>
  <div class="col-md-3">leeg</div>
</div>

<div class="container">

  <div class="image">
    <% @content_block.each do |b| %>
        <img src="<%= b.image_url %>">
    <% end %>
  </div>




<div class="row">
  <div class="col-xs-12 col-md-8">
    <% @content_block.each do |b| %>
        <h1><%= b.title %></h1>
        <p><%= b.body %></p>
        </div>
        <div class="col-xs-6 col-md-4">
          <img src="<%= b.image_url %>">
        </div>
    <% end %>
  </div>